//컬러셋
$pointColor: royalblue;
$borderColor: midnightblue;
$subColor: white;

//배경
$BG: cornflowerblue;
$subBG: darkslateblue;
$headerBG: PowderBlue;
$bannerBG: url(../images/logo.png);

//보더
$border: 1px solid $borderColor;
$borderRadius: 10px;

//스페이싱
$wordS: 10px;
$letterS: 3px;

//레이아웃
//인트로
//인덱스
$wrapWidth: 1300px;
$headerHeight: 180px;
$oneLineHeight: 50px;

//컨텐츠
$oneLineM: "영차자자자";

//테스트용
$testColor: MediumSlateBlue;
$testColor2: LightSkyBlue;