
//초기화
.a11y-hidden, legend{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  background: $pointColor;
  clip-path: polygon(0 0, 0 0, 0 0);
}
.button-none{
  border: none;
  background: transparent;
  padding: 0;
}

//스타일
.border-set{
  border: $border;
  border-radius: $borderRadius;
}
.button{
  background: $pointColor;
  color: $subColor;
}
.main-wrap{
  width: $wrapWidth;
  margin: 0 auto;
}