//레이아웃

header{
  //크기
  width: $wrapWidth;
  height: $headerHeight;
  //여백
  margin: 0 auto;
  padding: 0 50px;
  //정렬
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  //색상
  color: $subColor;
}

.btn-subMenuOpen{
  display: none;
}

.subMenu-list{
  height: 100px;

  display: flex;
  flex-flow: column nowrap;
 }

.mainMenu-item,
.subMenu-item{
  display: inline-block;
  margin: auto;

  text-transform: uppercase;
}
.mainMenu-link{
  display: block;
  padding: 0 30px;
  font-size: 3rem;
}


//로고
.logo img{
  width: 150px;
}

//메뉴

//배경화면 control
.header-bg{
  background-color: $headerBG;
}

