.notice-message{
  width: $wrapWidth;
  margin: 0 auto;
}
.main-wrap{
  margin: calc( ( 100vh - #{$scrolledHeaderHeight} - #{$footerHeight} - #{$mainHeight} ) / 2 ) auto ;
  height: $mainHeight;
  display: grid;
  grid-template: "twitter ranking schedule" 3fr
                  "twitter admin schedule" 2fr
                  /3fr 3fr 4fr;
  //그리드 세로 가로 갭(여백)
  gap: 20px 15px;
}
//이벤트 배너
.banner{
  width: 100%;
  height: calc(100vh - #{$headerHeight} - #{$oneLineHeight});
  position: relative;
}
.banner-link{
  display: block;
  width: 100%;
  height: 100%;
}
.event-invite{
  background: $bannerBG;
}
.btn-pre,
.btn-next{
  position: absolute;
}
.event-invite:hover .btn-next,
.event-invite:hover .btn-pre{
  opacity: 1;
}



//전광판
.one-line-message::after{
  content: $oneLineM;
  display: block;
  letter-spacing: $letterS;
  padding: 0 20px;
  line-height: $oneLineHeight;
  font-size: calc(#{$oneLineHeight} / 2.8);
  text-align: right;
}

//트위터
.twitter{
  width: 100%;
  height: 100%;
  grid-area: twitter;
}

//랭킹
.ranking{
  width: 100%;
  height: 100%;
  grid-area: ranking;
}

//어드민
.admin{
  width: 100%;
  height: 100%;
  grid-area: admin;
}

//스케줄
.schedule{
  width: 100%;
  height: 100%;
  grid-area: schedule;
}

//컬러
.one-line-message{
  height: $oneLineHeight;
  background: $subColor;
  color: $pointColor
}
